<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body style="background-color:lightskyblue;">
<div style="font-family: 'Comfortaa', cursive;
     font-size:33px;
     color:darkgoldenrod;text-align:center">Сертифікат</div>

<div style="font-family: 'Pacifico', cursive;font-size:50px;color:darkblue;text-align:center">#full-name#</div>


        <div style="font-size:20px;color:#696969;text-align:center;margin-right: 10px; margin-left: 10px">#personal-info#</div>
        <div style="font-size:20px;color:#696969;text-align:center;margin-right: 10px; margin-left: 10px">#date#</div>

        <div style="font-size:20px;color:#696969;text-align:center;margin-right: 10px; margin-left: 10px">#email#</div>
        <div style="font-size:20px;color:#696969;text-align:center;margin-right: 10px; margin-left: 10px">#event-name#</div>

<div style="font-size:20px;color:black;text-align:center;margin-top: 30px; text-decoration: underline;margin-right: 10px; margin-left: 10px">#title#</div>
<div style="font-size:20px;font-weight: bold;color:black;text-align:center;margin-top: 5px; margin-bottom:20px;margin-right: 10px; margin-left: 10px;">#main-text#</div>
<div style="font-size:20px;color:black;text-align:center;margin-right: 10px; margin-left: 10px;margin-top: 10px">#add-text#</div>

        <div style="font-size:20px;color:#696969;text-align: center;margin-right: 10px; margin-left: 10px;margin-top: 10px">#hours#</div>
        <div style="font-size:20px;color:#696969;text-align: center;margin-right: 10px; margin-left: 10px">#link#</div>

        <div style="font-size:20px;color:#696969;text-align: center;margin-right: 10px; margin-left: 10px">#date2#</div>

</body>